[submodule "ccom"]
	path = ccom
	url = https://github.com/b1b2b3b4b5b6/ccom.git
[submodule "epcom"]
	path = epcom
	url = https://github.com/b1b2b3b4b5b6/epcom.git
[submodule "mcb"]
	path = mcb
	url = https://github.com/b1b2b3b4b5b6/mcb.git
[submodule "modbus"]
	path = modbus
	url = https://github.com/b1b2b3b4b5b6/modbus.git
[submodule "lt768ui"]
	path = lt768ui
	url = https://github.com/b1b2b3b4b5b6/lt768ui.git
